html, body{
	margin: 0px;
	padding: 0px;
	background: #E1E0E0;
}

.layout{
	max-width: 760px;
	margin: auto;
	background: #FFFFFF;
}

.wrap{
	padding: 20px;
}

.avatar{
	float: right;
	height: 200px;
	width: 200px;
}

.company{
	border-bottom: solid 3px #D5D4D4;
}

input{
	border:none;
	border-bottom: solid 1px #CFCFCF;
}


